body{
    color:white;
    background: black;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background: gray;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color: black;
    font-size: 40px;
    border-bottom: solid 3px;
    padding: 20px;
}
.chamada-texto{
margin-right: 50;
}
h1{
    font-size: 35px;
}
.chamada{
    background:white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos log:hover{
    opacity: 1.0;
    border: 3px solid red;
}